/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


:root {
	--line-border-fill: red; 
	--line-border-empty: rgb(144, 129, 129);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 480px;
}

.progress-container::before {
	content: '';
	background-color: var( --line-border-empty);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
	transition: 0.4s ease;
}

.progress {
	background-color: var( --line-border-fill );
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	background-color: red;
	color: #eee;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid var( --line-border-empty );
	transition: .4s ease;
	-moz-animation: rotacion 10s infinite linear;
	box-shadow: 0px 5px 15px #888;
}

@-moz-keyframes rotacion{
	0% {
		background-position: 0px 0px;
	}
	100%{
		background-position: -160px 0px;
	}
}

.circle.active {
	border-color: red;
}

.btn {
	background-color: var(--line-border-fill);
	color: #fff;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	font-family: inherit;
	padding: 8px 30px;
	margin: 5px 7px;
	font-size: 14px;	
}

.btn:active {
	transform: scale(0.98);
}

.btn:focus {
	outline: 0;
}

.btn:disabled {
	background-color: var( --line-border-empty );
	cursor: not-allowed;
}